name: Build and run all advent of code

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with: 
        submodules: true
    - uses: Swatinem/rust-cache@v2
    - name: build
      continue-on-error: true
      id: build
      run: cargo build --release
    - name: build-retry
      id: retry
      if: steps.build.outcome=='failure'
      run: cargo build --release --verbose
    - name: Run for score
      run: cargo run --release --bin aoc
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Check clippy
      run: cargo clippy
    - name: Check formatting
      run: cargo fmt --all -- --check
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Run tests
      run: cargo test --lib --release
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - run: rustup component add clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
